body{
    background-color: azure;
    padding: 0;
    margin: 0;
    font-family: Calibri Light;
}

/* Utility */
.container{
    width: 90%;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

/* branding */
.branding{
    background-color: rgb(68, 126, 126);
    border: rgb(3, 65, 3) 2px solid;
    min-height: 70px;
}

.branding h1{
    color: white;
    font-size: 20px;
    padding-left: 10px;
    float: left;
}

.hight-light{
    color: gold;
}

.branding ul{
    float: right;
    padding-right: 40px;
    margin-top: 23px;
}
.branding ul li{
    list-style-type: none;
    display: inline;
}
.branding ul li a{
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: white;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.branding ul li a:hover{
    border-bottom: 1px solid lightskyblue;
}


/* content */
.content h2{
    color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content h3{
    color: gray;
    font-size: 20px;
}
.content p{
    color: gray;
    font-size: 18px;
}
.content img{
    width: 100%;
    height: 500px;
}

/* footer */
.footer-section{
    background-color: rgb(68, 126, 126);
    min-height: 70px;
    border: rgb(3, 65, 3) 2px solid;
    text-align: center;
    color: white;
    margin-top: 23px;
    font-size: 22px;
}

/* tips */

/* table */
.table-section table{
    border-collapse: collapse;
}
.table-section table th, tr{
    padding: 14px;
}
.table-section p{
    margin: 0;
    margin-bottom: 25px;
}
.table-section table{
    background-color: rgb(193, 240, 193); 
}
.table-section p{
    background-color: rgb(193, 240, 193);  
    width: 1010px;   
}

/* get in touch */
.main{
    width: 700px;
    height: 615px;
    margin: auto;
    background-color: rgb(146, 201, 146);
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.form-control input{
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    
}
.form-control label{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.form-control .btn{
    width: 630px;
    background-color: darkolivegreen;
    color: white;
    border: none;
}
.form-control input:focus{
    outline: none;
}
.form-control input[type='message']{
    padding: 15px;
    width: 595px;
}
.form-control h1{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    
}
.form-control h2{
    color: black;
    font-weight: bolder;
   
}